<% layout("/layouts/boilerplate") %>
<body>
  <div class="row mt-3">
    <div class="col-7">
      <h3>Edit the Listing</h3>
      <form
        method="POST"
        action="/listings/<%= listing._id %>?_method=PUT"
        class="was-validated"
        enctype="multipart/form-data"
      >
        <div class="mb-2">
          <label for="title" class="form-label">Title:</label>
          <input
            type="text"
            name="listing[title]"
            value="<%= listing.title %>"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title looks good</div>
          <div class="invalid-feedback">Add a title</div>
        </div>

        <div class="mb-2">
          <label for="Description" class="form-label">Description:</label>
          <textarea
            name="listing[description]"
            id="desc"
            cols="30"
            rows="2"
            class="form-control"
            required
          >
                    <%= listing.description %>
                </textarea
          >
          <div class="valid-feedback">description looks good</div>
          <div class="invalid-feedback">Fill the description</div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="mb-2">
              <label for="price" class="form-label">price:</label>
              <input
                type="number"
                name="listing[price]"
                value="<%= listing.price %>"
                class="form-control"
                required
              />
              <div class="valid-feedback">price looks good</div>
              <div class="invalid-feedback">invalid price pleace recheck!</div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="mb-2">
              <label for="Country" class="form-label">Country:</label>
              <input
                type="text"
                name="listing[country]"
                value="<%= listing.country %>"
                class="form-control"
                required
              />
              <div class="valid-feedback">Look's good</div>
              <div class="invalid-feedback">write your country!</div>
            </div>
          </div>
        </div>

        <div class="mb-2">
          <label for="location" class="form-label">Location:</label>
          <input
            type="text"
            name="listing[location]"
            value="<%= listing.location %>"
            class="form-control"
            required
          />
          <div class="valid-feedback">Look's good</div>
          <div class="invalid-feedback">write a valid location!</div>
        </div>

        <div class="mb-2">
          <p>Original image</p>
          <img src="<%= originalUrl %>" alt="original image">
        </div>

        <div class="mb-2">
          <label for="URL" class="form-label">Upload new image:</label>
          <input
            type="file"
            name="listing[image]"
            class="form-control"
          />
        </div>

        <button type="submit" class="btn btn-primary custom-button mb-3">
          Edit
        </button>
      </form>
    </div>
  </div>
</body>
