<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-6 mt-2">
      <h3><%= listing.title %></h3>
      <img src="<%= listing.image.url %>" alt="image" class="show-img" />
      <br />
      <b><i>Owned by - <%= listing.owner.username %></i></b>
      <br /><br />
      <p><%= listing.description %></p>
      <p>&#8377;<%= listing.price.toLocaleString('en-IN') %></p>
      <p><%= listing.location %></p>
      <p><%= listing.country %></p>

      <% if(currUser && currUser._id.equals(listing.owner._id)){ %>
      <div class="btn-group">
        <a
          class="btn btn-primary btn-sm Btn"
          href="/listings/<%= listing._id %>/edit"
          role="button"
        >
          Edit
        </a>
        <form
          method="POST"
          action="/listings/<%= listing._id %>?_method=DELETE"
        >
          <button class="btn btn-danger btn-sm delete Btn">Delete</button>
        </form>
      </div>
      <% } %>
    </div>
  </div>

  <% if(currUser){ %>
  <div class="review col-8 offset-2 mb-3">
    <form
      action="/listings/<%= listing._id %>/reviews"
      method="POST"
      class="was-validated"
    >
      <div class="review mb-3 mt-3">
        <h3>Review -</h3>
        <label for="rating" class="form-label">Rating</label>
        <fieldset class="starability-slot">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="1"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>

      <div class="comment mb-3 mt-2 ">
        <label for="comment" class="form-label">Comment</label>
        <textarea
          name="review[comment]"
          id="comment"
          cols="20"
          rows="3"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please write a comment</div>
        <div class="valid-feedback">Looks nice</div>
      </div>
      <br />
      <button type="submit" class="btn btn-outline-dark">Add</button>
    </form>
  </div>
  <% } %>
  <% if(listing.reviews.length > 0){ %>
  <hr />
  <div class="row">
    <p><b>All Reviews</b></p>
    <% for (review of listing.reviews) { %>
    <div class="card col-5 mb-3 ms-2 p-2">
      <div class="card-body">
        <h6 class="card-title"><%= review.author.username %></h6>
        <p
          class="starability-result card-text"
          data-rating="<%= review.rating %>"
        ></p>
        <p class="card-text"><%= review.comment %></p>
      </div>

      <form
        class="mb-3"
        method="POST"
        action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
      >
        <input type="hidden" name="_method" value="DELETE" />
        <button class="btn btn-sm btn-outline-dark">Delete</button>
      </form>
    </div>
    <% } %>
  </div>
  <div id="map"></div>
  <% } %>


  <script>
    var map = L.map('map').setView([30.8781, -87.6298], 15); // Example coordinates for Chicago, USA

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
    }).addTo(map);

    var marker = L.marker([41.8781, -87.6298]).addTo(map); // Example coordinates for Chicago, USA
    marker.bindPopup("Your Location").openPopup();
  </script>
</body>

